@import "tailwindcss";
.mt-30 {
  margin-top: calc(var(--spacing) * 30);
}
body#admin {
  overflow: hidden; /* Mencegah scroll di seluruh halaman */
  height: 100vh; /* Pastikan tinggi body penuh */
  display: flex;
  flex-direction: column; /* Susun elemen dalam satu kolom */
}

.navbar-admin {
  flex-shrink: 0; /* Navbar tetap di atas, tidak mengecil */
}

.container.hero-admin {
  flex-shrink: 0; /* Bagian hero tidak mengecil */
}

.hero-card-santri-admin {
  flex-grow: 1; /* Bagian ini akan mengisi sisa ruang yang tersedia */
  overflow-y: auto; /* Bisa di-scroll kalau kontennya panjang */

  scrollbar-width: none; /* Hilangkan scrollbar di Firefox */
}

.hero-card-santri-admin::-webkit-scrollbar {
  display: none; /* Hilangkan scrollbar di Chrome, Safari, Edge */
}
.rounded-tr-5xl {
  border-top-right-radius: 70px;
}
.rounded-br-5xl {
  border-bottom-right-radius: 250px;
}
.rounded-tl-5xl {
  border-top-left-radius: 70px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.container-riwayat {
  max-height: 550px; /* Sesuaikan tinggi sesuai kebutuhan */
  overflow-y: auto;
}
.shadow-xxl {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.shadow-sdng {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.sidebar-active {
  /* Warna hijau */
  @apply text-emerald-600 font-bold;
}
